/Chartsy/build/
/Chartsy/CommonsCodec/build/
/Chartsy/CommonsLogging/build/
/Chartsy/CommonsHTTPClient/build/
/Chartsy/Chat/build/
/Chartsy/Facebook API/build/
/Chartsy/SwingX/build/
/Chartsy/Twitpic API/build/
/Chartsy/Main/build/
/Chartsy/Chat/nbproject/private/
/Chartsy/Text Annotation/nbproject/private/